.container{
    margin-top: 10px;
    max-height: 150px;
    overflow: hidden;
    overflow-y: auto;
}
ul {
    padding: 0;
    list-style-type: none;
}
li{
    position: relative;
    list-style: none;
    line-height: 45px;
    background:#f2f2f2;
    height: 45px;
    padding: 0 15px;
    font-size: larger;
}
.icon{
    color:#fff;
    text-align: center;
    width: 45px;
    position: absolute;
    right:0;
    transition: all 0.2s ease;
    cursor:pointer;
    background-color: #e74c3c;
}

.fa-trash::before{
    content: '\f1f8';
}